<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="source/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="source/styles/modal.css">
    <title>Document</title>
</head>

<body>

    <div class="add-element">
        <div class="card" style="width: 410px;">
            <div class="card-body">
                <div class="auth-text">
                    <h5 class="card-title">Добавление элемента</h5> <span class="cross"><a class="dark-blue"
                            href="index.html">&#x2715</a></span>
                </div>
                <div class="line"></div>
                <div class="container text-center">
                    <div class="card text-center" id="element-card" style="width: 112px;">
                        <div class="card-body" id="element">
                            <a href="add-folder.html">
                                <button class="element-button">
                                    <img src="source/images/elemets/folder.png" alt="Папка">
                                    <h6 class="card-title">Папка</h6>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="card text-center" id="element-card" style="width: 112px;">
                        <div class="card-body" id="element">
                            <a href="add-compiler.html">
                                <button class="element-button">
                                    <img src="source/images/elemets/compiler.png" alt="Папка">
                                    <h6 class="card-title">Компилятор</h6>
                                </button>
                            </a>
                            </div>
                    </div>
                    <div class="card text-center" id="element-card" style="width: 112px;">
                        <div class="card-body" id="element">
                            <a href="add-test.html">
                                <button class="element-button">
                                    <img src="source/images/elemets/test.png" alt="Папка">
                                    <h6 class="card-title">Тест</h6>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="grey element-text">Выберите тип элемента, который вы хотите добавить</p>
            </div>
        </div>
    </div>

    <script src="source/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="source/javascript/login.js"></script>
</body>

</html>