<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="source/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="source/styles/main.css">
    <title>Fruity Code</title>
</head>

<body>
    <header>
        <div class="main-container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="fruity-code">
                            <a class="navbar-brand" href="index.html"><span class="brand-fruity">Fruity</span> <span
                                    class="brand-code">Code</span></a>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" id="motivation" aria-current="page" href="#">Изучай,
                                        практикуйся, компилируй</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button class="login">
                                    <a class="nav-link active" id="login" href="login.html">Войти</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section>
        <div class="main-container">
            <div class="run-code">
                <div class="compiler-example">
                    <h1>Больше, чем компилятор</h1>
                    <div class="python-code">
                        <div class="code">
                            <code>
                            <p class="code"><span class="violet">import</span> <span class="blue">time</span></p>
                            <p class="code"><span class="blue">start_time</span> = <span class="blue">time</span><span class="black">.time()</span></p>
                            <p class="code"><span class="violet">def</span> <span class="blue">fun</span><span class="black">&#40&#41:</span></p>
                            <p class="code"><span class="tab"></span> <span class="blue">a</span> <span class="black">=</span> <span class="orange">2</span></p>
                            <p class="code"><span class="tab"></span> <span class="blue">b</span> <span class="black">=</span> <span class="orange">3</span></p>
                            <p class="code"><span class="tab"></span> <span class="blue">c</span> <span class="black">=</span> <span class="blue">a</span> <span class="black">+</span> <span class="blue">b</span></p>
                            <p class="code"><span class="blue">end_time</span> <span class="black">=</span> <span class="blue">time</span><span class="black">.time()</span></p>
                            <p class="code"><span class="blue">fun</span><span class="black">&#40&#41</span></p>
                            <p class="code"><span class="blue">timetaken</span> <span class="black">=</span> <span class="blue">end_time</span> <span class="black">-</span> <span class="blue">start-time</span></p>
                            <p class="code"><span class="blue">print</span><span class="black">&#40</span><span class="green">"Your program takes: "</span><span class="black">, </span><span class="blue">timetaken</span><span class="black">&#41</span> <span class="grey"># 0.0345</span></p>
                        </code>
                        </div>
                    </div>
                    <button class="start">
                        / Начать
                    </button>
                </div>
                <div class="fruits">
                    <div class="first-col">
                        <div class="col">
                            <img src="source/images/fruits/apple.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/banana.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/cherries.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/coconut.png" alt="">
                        </div>
                    </div>
                    <div class="second-col">
                        <div class="col">
                            <img src="source/images/fruits/lemon.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/grapes.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/peach.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/something.png" alt="">
                        </div>
                    </div>
                    <div class="third-col">
                        <div class="col">
                            <img src="source/images/fruits/strawberry.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/mandarin.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/pineapple.png" alt="">
                        </div>
                        <div class="col">
                            <img src="source/images/fruits/violetfruit.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-container">
            <div class="runners">
                <div class="selection-text">
                    <h2>Компилируй</h2>
                    <span class="grey">/ Выбирай нужный язык и запускай компилятор</span>
                </div>
                <div class="compilers">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><h5 class="card-title">Python</h5></a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#">
                                        <p class="card-text grey">Запустить</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-container">
            <div class="runners">
                <div class="selection-text">
                    <h2>Практикуйся</h2>
                    <span class="grey">/ Решай задачи и прокачивай свои навыки</span>
                </div>
                <div class="compilers">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#"><h5 class="card-title">Python</h5></a>
                                    <a href="#" class="for-each">
                                        <p class="card-text grey">Junior</p>
                                        <p class="card-text grey">Midle</p>
                                        <p class="card-text grey">Senior</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#" class="for-each">
                                        <p class="card-text grey">Junior</p>
                                        <p class="card-text grey">Midle</p>
                                        <p class="card-text grey">Senior</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#" class="for-each">
                                        <p class="card-text grey">Junior</p>
                                        <p class="card-text grey">Midle</p>
                                        <p class="card-text grey">Senior</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">Python</h5>
                                    </a>
                                    <a href="#" class="for-each">
                                        <p class="card-text grey">Junior</p>
                                        <p class="card-text grey">Midle</p>
                                        <p class="card-text grey">Senior</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="main-container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="fruity-code">
                            <a class="navbar-brand" href="index.html"><span class="brand-fruity">Fruity</span> <span
                                    class="brand-code">Code</span></a>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" id="motivation" aria-current="page" href="#">Изучай,
                                        практикуйся, компилируй</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button class="login">
                                    <a class="nav-link active" id="login" href="login.html">Войти</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>

    <script src="source/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>