<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="source/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="source/styles/structure-tree.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="file-search">
            <div class="arrow-intr">
                <div class="vector-arrow"></div>
                <div class="introduction">
                    <div class="username">
                        <div class="fruity-code">
                            <a href="index.html">
                                <span class="brand-fruity">Fruity</span>
                                <br>
                                <span class="brand-code">Code</span>
                            </a>
                        </div>
                    </div>
                    <div class="go-out">
                        <a href="index.html"><span>UserName</span><img class="no-dark-mode" src="source/images/upload.png" alt="upload"></a>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="input-files">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        <img class="no-dark-mode" src="source/images/search.svg" height="15px">
                    </span>
                    <input type="text" class="form-control" placeholder="Поиск по файлам" aria-label="Поиск по файлам"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="folder-list">
                    <ul class="folder-root">
                        <li>
                            <span class="toggle">
                                <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                <p>Structure Tree</p>
                                <span class="arrow"></span>
                            </span>
                            <ul class="nested">
                                <li>
                                    <span class="toggle">
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                        <span class="arrow"></span>
                                    </span>
                                    <ul class="nested">
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                                <p>Folder Name</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                                                <p>Compile File</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                                                <p>Compile File</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/test.png" alt="test">
                                                <p>Test File</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/test.png" alt="test">
                                                <p>Test File</p>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                                        <p>Compile File</p>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                                        <p>Compile File</p>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/test.png" alt="test">
                                        <p>Test File</p>
                                    </span>
                                </li>
                                <li>
                                    <span class="toggle">
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                        <span class="arrow"></span>
                                    </span>
                                    <ul class="nested">
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                                <p>Folder Name</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                                                <p>Compile File</p>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <img class="no-dark-mode" src="source/images/elemets/test.png" alt="test">
                                                <p>Test File</p>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                                        <p>Folder Name</p>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="elements">
            <div class="container">
                <div class="location">
                    <div class="base">
                        <div class="vector-arrow"></div>
                        <img class="no-dark-mode" class="path" src="source/images/elemets/folder.png" alt="folder">
                        <div class="my-location">
                            <p>Structure Tree /</p>
                            <h5>Folder Name</h5>
                        </div>
                    </div>
                    <div class="add-element">
                        <button>
                            <img class="no-dark-mode" src="source/images/plus.svg" alt="plus">
                            <p>Добавить элемент</p>
                        </button>
                    </div>
                </div>
                <div class="line"></div>
                <div class="directory">
                    <div class="folder">
                        <img class="no-dark-mode" src="source/images/elemets/folder.png" alt="folder">
                        <p>Folder Name</p>
                    </div>
                    <div class="compiler">
                        <a href="compiler.html">
                            <img class="no-dark-mode" src="source/images/elemets/compiler.png" alt="compiler">
                            <p>Compile File</p>
                        </a>
                    </div>
                    <div class="compiler-result">
                        <a href="compiler.html">
                            <img class="no-dark-mode" src="source/images/elemets/compiler-result.png" alt="compiler (result)">
                            <p>Compile File</p>
                            <p class="grey">(results)</p>
                        </a>
                    </div>
                    <div class="test">
                        <a href="test.html">
                            <img class="no-dark-mode" src="source/images/elemets/test.png" alt="test">
                            <p>Test File</p>
                        </a>
                    </div>
                    <div class="test-result">
                        <a href="test.html">
                            <img class="no-dark-mode" src="source/images/elemets/test-result.png" alt="test">
                            <p>Test File</p>
                            <p class="grey">(results)</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings">
            <button id="theme-toggle">
                <img class="no-dark-mode" src="source/images/settings.png" alt="settings">
            </button>
        </div>        
    </div>

    <script src="source/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" type="text/javascript"></script>
    <script src="source/javascript/context-menu.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggles = document.querySelectorAll('.toggle');
            toggles.forEach(function (toggle) {
                toggle.addEventListener('click', function () {
                    this.parentElement.querySelector('.nested').classList.toggle('active');
                    this.classList.toggle('caret-down');
                    this.querySelector('.arrow').classList.toggle('arrow-down');
                });
            });

            var vectorArrow = document.querySelector('.vector-arrow');
            var fileSearch = document.querySelector('.file-search');

            vectorArrow.addEventListener('click', function () {
                fileSearch.classList.toggle('collapsed');
            });
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const themeToggleButton = document.getElementById('theme-toggle');
    
            // Проверяем сохранённую тему из localStorage
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-mode');
            }
    
            themeToggleButton.addEventListener('click', function () {
                document.body.classList.toggle('dark-mode');
                
                // Сохраняем выбранную тему в localStorage
                if (document.body.classList.contains('dark-mode')) {
                    localStorage.setItem('theme', 'dark');
                } else {
                    localStorage.setItem('theme', 'light');
                }
            });
        });
    </script>
    
</body>

</html>